name: Build and Test

on:
  push:
    branches: [release]
  pull_request:
    branches: [release]

jobs:
  build:
    name: Build and Test
    uses: wikumChamith/openmrs-contrib-gha-workflows/.github/workflows/build-backend-module.yml@release
    with:
      java_versions: '[8]'
      main_java_version: '8'
    secrets:
      NVD_API_KEY: ${{ secrets.NVD_API_KEY }}