name: Release

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release version (e.g., 0.3.3)'
        required: true
      development_version:
        description: 'Next development version (e.g., 0.4.0-SNAPSHOT)'
        required: true

jobs:
  release:
    name: Release
    uses: wikumChamith/openmrs-contrib-gha-workflows/.github/workflows/release-backend-module.yml@release
    with:
      release_version: ${{ inputs.release_version }}
      development_version: ${{ inputs.development_version }}
    secrets:
      MAVEN_REPO_USERNAME: ${{ secrets.MAVEN_REPO_USERNAME }}
      MAVEN_REPO_API_KEY: ${{ secrets.MAVEN_REPO_API_KEY }}